#question {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-style: bold;
    color: rgb(8, 8, 170);
    font-size: 30px;
}

#option-list {
    padding-left: 500px;
    padding-bottom: 0px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
}

#timer {
    font-family: fantasy;
    color: gray;
    margin-top: 20px;
    margin-left: 20px;
}

#question-result {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: darkgray;
    text-align: center;
}

#highscoresbtn {
    margin-left: 600px;
}

.card {
    margin-left: 100px;
    margin-right: 100px;
    margin-top: 20px;
}

#option-list:hover {
    background-color: lightskyblue;
}

